*{
margin: 0;
padding: 0;
}

body{
    background-color: #151515;
    color: #EEEEEE;
}

.home, .sobre, .curriculo, .contato{
    margin: 5%;
    background: rgb(169,29,58);
    background: radial-gradient(circle, rgba(169,29,58,1) 0%, rgba(199,54,89,1) 58%, rgba(21,21,21,1) 100%);
    text-align: center;
    border-radius: 10px;
    border-color: green;

}

h1, h2{
    padding: 1%;
    font-size: 20px;
}

p{
    font-size: 10px;
}

